pandas==2.1.4
numpy==1.26.2
jupyterlab<4.0.0
anthropic==0.40.0
ipykernel==6.29.0
openai==1.55.3
openpyxl
scikit-learn==1.5.2
matplotlib==3.9.3
umap-learn==0.5.7
ipywidgets==8.1.5
python-dotenv==1.0.1
tenacity==9.0.0
leidenalg==0.10.2
python-igraph==0.11.8
networkx==3.4.2
seaborn==0.13.2
boto3==1.37.13
botocore==1.37.13 
tiktoken==0.9.0
